#######################################
#             EXECUTABLES             #
#######################################
./server
./client

######################################
#            OBJECT FILES            #
######################################
objs/
*.o
